/* this is my css fil*/

/*styles of tags*/
html{
  background-color: #deb887;
}


/*styles of classes*/
.codingI{
  background-color: White;
}
/*Styles of id*/
#daddyshark{
background-color: purple;
}
